/venv/
/google_calendar/token.pickle
.idea/*
/google_calendar/sources/
misc.xml
usefulTools.iml
workspace.xml
/token.pickle
/contact_qr_code_generator/data_for_qr_codes.xlsx
/contact_qr_code_generator/qr_codes/
